@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

@keyframes imageFade {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}
	20% {
		opacity: 1;
		transform: translate(0, -5px);
	}
	20% {
		opacity: 1;
		transform: translate(0, 2px);
	}
	30% {
		opacity: 1;
		transform: translate(0, -4px);
	}
	60% {
		opacity: 1;
		transform: translate(0, 4px);
	}
	88% {
		opacity: 1;
		transform: translate(0, 0);
	}
	93% {
		opacity: .6;
		transform: translate(0px, 3px);
	}
	99% {
		opacity: .2;
		transform: translate(0px, 4px);
	}
}

body {
	background: black;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

img {
	z-index: 1;
	position: relative;
	width: 50vw;
	max-width: 430px;

	animation-name: imageFade;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
}

nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: flex-end;

        padding: 2vw;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	list-style: none;
}

li:nth-child(odd) {
        margin-right: 3vw;
}

a {
	font-family: 'Share Tech Mono', monospace;
	color: white;
	text-decoration: none;

	opacity: 0.2;
	transition: opacity 1s;
        font-size: 5vw;
}

a:hover {
	opacity: 1;
}
